@model Restaurant 

@{ 

    ViewBag.Title =$"Edit {Model.Name}";
}
<div>

    <h1>Editing: @Model.Name</h1>

    <div>

                        @*antiforgery ensures a user's 
                        form being submitted is the form given to that user*@
        <form method="post" asp-antiforgery="true">

            <div>
                <label asp-for="Name"></label> 
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
                @*//display any validation error*@
            </div>
            <div>
                
                <label asp-for="Cuisine"></label>
                
                <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))">
                </select>
             
                <span asp-validation-for="Cuisine"></span>
            </div>

            <div>

                <input type="submit" value="Save!" />

            </div>

        </form>
        
    </div>

</div>