@model OdeTofood.ViewModels.HomePageViewModels

@{ 

    ViewBag.Title = "Home";

}


<h1> Welcome!</h1>

@if (User.Identity.IsAuthenticated)
{  
    //upon login display user's data
    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant)
    }

    <div>

        <a class="btn btn-primary" asp-action="Create">Create</a>

    </div>
}
else
{
    //for unauthenticated user just display 
    //home page with welcome banner
    @Html.Partial("_Welcome")

}



