<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        @*<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
            <script src="bootstrap.min.js"></script>*@
    </environment>
    <environment names="Staging, Produciton">
        <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.js"
                asp-fallback-href="/node_modules/bootstrap/dist/css/bootstrap.css"
                asp-fallback-test-class="sr-only" asp-fallback-test-property="position"/>
       
    </environment>
     


</head>
<body>

   <nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="/">OdeToFood</a>
           </div>
           <div class="navbar-right">

               @await Component.InvokeAsync("LoginLogout")

           </div>
       </div>
   </nav>
    
    <div class="container">
        @RenderBody()

        <footer>
            @RenderSection("Footer", required: false)

           
            @await Component.InvokeAsync("Greeting")
        </footer>
    </div>
    

    <environment names="Development">
        <script src="/node_modules/jquery/dist/jquery.js"></script>"
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>"
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>"
    </environment>
    <environment names="Staging, Produciton">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.js"
                asp-fallback-test="window.jquery">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"
                asp-fallback-src="/node_modules/jquery-validation/dist/jquery.validate.js"
                asp-fallback-test="window.jquery && window.jQuery.validator">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"
                asp-fallback-src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
                asp-fallback-test="window.jquery && window.jQuery.validator">
        </script>
    </environment>
    
</body>
</html>
